[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
djangorestframework = "*"
markdown = "*"
python-dotenv = "*"
mysqlclient = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-tinymce = "*"
django-filter = "*"
django-redis = "*"
django-activity-stream = "*"
drf-yasg = "*"
redis = "*"
itsdangerous = "*"
django-cors-headers = "*"
python-dateutil = "*"
drf-writable-nested = "*"
pymupdf = "*"
pychord = "*"
python-pptx = "*"
isort = "*"
flake8 = "*"
black = "*"

[dev-packages]
isort = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.12"
