[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
djangorestframework = "*"
markdown = "*"
python-dotenv = "*"
mysqlclient = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-tinymce = "*"
django-filter = "*"
django-redis = "*"
django-activity-stream = "*"
drf-yasg = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
